*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    background-image: url(images/dog.png);
    background-size: cover;
}
.signup{
    width: 300PX;
    padding: 10px 5px;
    margin: 50px auto;
    background-color:lavender;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 40px;
    color: rgb(17, 0, 255);
    margin:10px;
}
form input{
    width: 90%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: whitesmoke;
    
}
button{
    font-size: larger;
    margin-top: 0.3cm;
    padding: 10px 0px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    cursor: pointer;
    background-color:darkgrey ;
}
.testo{
    font-size: larger;
    margin-top: 0.3cm;
    padding: 10px 0px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    cursor: pointer;
    background-color:darkgrey ;
}
button:hover{
    background-color:rgb(17, 0, 255);
}
.testo:hover{
    background-color: rgb(17, 0, 255);
}
input:focus{
    border: 1px solid darkgrey;
}
.alreadyamember a{
    color: darkslategrey;
    text-decoration: underline;
}
.alreadyamember{
    margin-top: 0.3cm;
}
